.RecordInfo{
	margin-left:70%;
	display: flex;
}

.header1{
	padding-top: 1%;
       display: flex;
	   margin-left: 1%;
	   /* width: 100%; */
	   justify-content: space-between;
	   padding-right: 1%;

}

.pageListSelectedClass{
	
	--slds-c-button-neutral-color-background: rgb(1, 118, 211);
	--sds-c-button-text-color: white;
	--slds-c-button-neutral-color-background-hover: rgb(1, 118, 211);
	--slds-c-button-text-color-hover: white;
}

.pageListClass{
	--sds-c-button-text-color: rgb(1, 118, 211);
}